@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to the Job Bank</h1>
    <p class="lead">Simple Human Resources site - Class Project for PROG1612</p>
    <hr class="my-4">
    <p><a href="https://web.microsoftstream.com/browse?q=%23F20_PROG1612" target="_blank" class="btn btn-primary btn-lg">Videos Recorded In Class &raquo;</a></p>
    <h3>Bootstrap Features Used... Start with the <a target="_blank" href="https://getbootstrap.com/docs/4.3/layout/grid/">Grid System</a></h3>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dropdown Menus</h2>
        <p>These are used on the Shared, _Layout view file that is providing the Menu at the top of the screen.</p>
        <p><a class="btn btn-default" target="_blank" href="https://getbootstrap.com/docs/4.3/components/navs/#using-dropdowns">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Popovers</h2>
        <p>Covering Comments for Job Applications are displayed in Popovers on the @Html.ActionLink("Applicaitons/Index", "Index", "Applications") view.  Note that paragraph/line breaks do not show in the Popover.</p>
        <p><a class="btn btn-default" target="_blank" href="https://getbootstrap.com/docs/4.3/components/popovers/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Collapse</h2>
        <p>Job Position Descriptions are displayed in collapasable div's on the @Html.ActionLink("Positions/Index", "Index", "Positions") view.  Note that paragraph/line breaks <strong>DO</strong> show if we use Html.Raw repllacing NewLine characters with &lt;br /&gt; tags.</p>
        <p><a class="btn btn-default" target="_blank" href="https://getbootstrap.com/docs/4.3/components/collapse/">Learn more &raquo;</a></p>
    </div>
</div>
