@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to the Job Bank</h1>
    <p class="lead">Simple Human Resources site - Class Project for PROG1612 by Amal Shaiju</p>
    <hr class="my-4">
    <p><a href="https://github.com/AmalShaiju" target="_blank" class="btn btn-primary btn-lg">View Other Projects &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Admin</h2>
        <p>Email : Admin1@outlook.com</p>
        <p>Password : Password</p>
        <p><a class="btn btn-default" asp-area="Identity" asp-page="/Account/Manage/Index">Login Now &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Security</h2>
        <p>Email : security1@outlook.com</p>
        <p>Password : Password</p>
        <p><a class="btn btn-default" asp-area="Identity" asp-page="/Account/Manage/Index">Login Now &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Supervisor</h2>
        <p>Email : supervisor1@outlook.com</p>
        <p>Password : Password</p>
        <p><a class="btn btn-default" asp-area="Identity" asp-page="/Account/Manage/Index">Login Now &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Staff</h2>
        <p>Email : staff1@outlook.com</p>
        <p>Password : Password</p>
        <p><a class="btn btn-default" asp-area="Identity" asp-page="/Account/Manage/Index">Login Now &raquo;</a></p>
    </div>

</div>
